<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Little Pony</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #rick {
            display: none; /* Скрыть видео до нажатия кнопки */
            width: 100%; /* Занять всю ширину */
            height: auto; /* Автоматическая высота */
        }
    </style>
</head>
<body>
    <h1>Хотите посмотреть контент?</h1>
    <button id="screamButton">Нажмите на меня!</button>
    <video id="rick" src="{{ url_for('static', filename='rick.mp4') }}" preload="auto" controls></video>
    <script>
        document.getElementById('screamButton').onclick = function() {
            var screamVideo = document.getElementById('rick');
            screamVideo.style.display = 'block'; // Показать видео
            screamVideo.volume = 1.0;
            screamVideo.play().catch(function(error) {
                console.error('Ошибка воспроизведения видео:', error);
            });
            // Переключение в полноэкранный режим
            if (screamVideo.requestFullscreen) {
                screamVideo.requestFullscreen();
            } else if (screamVideo.mozRequestFullScreen) { // Firefox
                screamVideo.mozRequestFullScreen();
            } else if (screamVideo.webkitRequestFullscreen) { // Chrome, Safari и Opera
                screamVideo.webkitRequestFullscreen();
            } else if (screamVideo.msRequestFullscreen) { // IE/Edge
                screamVideo.msRequestFullscreen();
            }
        };
    </script>
</body>
</html>
